# ---------------------------------------------------------
# ---	Basics

Options -indexes
Options +FollowSymlinks
#php_flag magic_quotes_gpc off
RewriteEngine On

# ---------------------------------------------------------
# ---	File Uploading

php_flag file_uploads On
php_value memory_limit 10M
php_value post_max_size 10M
php_value upload_max_filesize 10M

# ---------------------------------------------------------
# ---	Rewrite Base

# RewriteBase /

# ---------------------------------------------------------
# ---	Compress using gzip

<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>



# ---------------------------------------------------------
# ---	Prevent common exploits

RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index.php [F,L]


# ---------------------------------------------------------
# ---	Custom rules

# ---------------------------------------------------------
# ---	Main rewrites

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?v=$1 [L,QSA]

# ---------------------------------------------------------
# ---	Errors Screens

errorDocument 404 error.php?type=404&filename=%{SCRIPT_FILENAME}
errorDocument 500 error.php?type=500